<div class="recipe-card">
  <div class="recipe-image">
    <img [src]="recipe.imageUrl" [alt]="recipe.title">
  </div>
  <div class="recipe-content">
    <h3>{{ recipe.title }}</h3>
    <p class="recipe-description">{{ recipe.description }}</p>
    <div class="recipe-meta">
      <span class="meta-item">⏱️ {{ recipe.prepTime }} <ng-container i18n="@@recipe.time.minutes">min</ng-container></span>
      <span class="meta-item">👥 {{ recipe.servings }} <ng-container i18n="@@recipe.servings.people">personnes</ng-container></span>
      <span class="meta-item">⭐ {{ recipe.rating }}</span>
    </div>
    <button class="btn-view-recipe" i18n="@@recipe.button.view">Voir la recette</button>
  </div>
</div>
